<%= form_for :item, url: user_list_items_path(@user.id, @list.id) do |itm| %>
  <div>
    <%= itm.label :name %><br>
    <%= itm.text_field :name %>
  </div>
  <div>
    <%= itm.submit "Add Task" %>
  </div>
<% end %>
